@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #edefea;
  color: #17212b;
}

* {
  scrollbar-width: thin;
}

:focus-visible {
  outline: 2px solid #2d4159;
  outline-offset: 2px;
}
